<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= image_link_to url: root_path,
                      link_options: { class: "navbar-item" },
                      image_src: "https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Ruby_On_Rails_Logo.svg/1200px-Ruby_On_Rails_Logo.svg.png",
                      image_options: { width: 73, height: 28 } %>

    <a class="navbar-item"><i class="fas fa-plus"></i></a>

    <%= image_link_to url: root_path,
                      link_options: { class: "navbar-item" },
                      image_src: "https://stimulusjs.org/images/logo-beige.svg",
                      image_options: { width: 28, height: 28 } %>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to root_path, class: "navbar-item" do %>
        <i class="fas fa-home fa-lg"></i> &nbsp; Home
      <% end %>

      <a class="navbar-item">
        <%= link_to root_path, class: "navbar-item" do %>
          <i class="fas fa-th fa-lg"></i> &nbsp; Apps
        <% end %>
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <%= link_to "About", about_path, class: "navbar-item" %>

          <%= link_to "Repo", about_path, class: "navbar-item" %>

          <hr class="navbar-divider">

          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <% if current_user %>
        <%= link_to user_path(current_user), class: "navbar-item", id: "account-icon" do %>
          <span class="icon is-large">
            <i class="fas fa-user-circle fa-lg"></i>
          </span>
        <% end %>
      <% end %>

      <div class="navbar-item">
        <div class="buttons">

          <% unless current_user %>
            <%= link_to "Sign up", signup_path, class: "button is-primary" %>
          <% end %>

          <% if current_user %>
            <%= link_to "Log out", logout_path, method: :delete, class: "button is-light" %>
          <% else %>
            <%= link_to "Log in", login_path, class: "button is-light" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>


