<% unless current_user %>
  <div class="content is-medium">
    <h3>Login or signup first to view or connect your faviorte apps.</h3>
  </div>
<% else %>
  <div id="auth-apps" data-controller="home">
    <div class="columns">
      <div class="column is-half">
        <% if is_google_tasks_connected_for(current_user.username) %>
          <article class="message is-success" id="google-tasks-auth">
            <div class="message-header">
              <p>Google APIs successfully connected!</p>
              <button class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body">
              <%= link_to "Go to Google Tasks page",
                          google_tasks_path,
                          class: "has-text-success" %>
            </div>
          </article>
        <% else %>
          <article class="message is-link" id="google-tasks-auth">
            <div class="message-header">
              <p>Connect with Google APIs</p>
              <button class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body">
              <div class="columns is-mobile">
                <div class="column">
                  <figure class="image is-48x48">
                    <img src="https://lh3.googleusercontent.com/62OzNxLonba70XxMFP3X3dsdNS9lvG2xf5TqfhYDaw9iFn5as9gVSU23ExfCLoZXkMWA=s180" alt="Google Tasks" />
                  </figure>
                </div>
                <div class="column">
                  <figure class="image is-48x48">
                    <img class="" src="https://www.gstatic.com/images/icons/material/product/1x/gmail_64dp.png" alt="Google Tasks" />
                  </figure>
                </div>
                <div class="column">
                  <figure class="image is-48x48">
                    <img class="" src="https://www.gstatic.com/images/branding/product/1x/calendar_64dp.png" alt="Google Calendar" />
                  </figure>
                </div>
                <div class="column">
                  <figure class="image is-48x48">
                    <img class="" src="https://www.gstatic.com/images/icons/material/product/2x/drive_32dp.png" alt="Google Drive" />
                  </figure>
                </div>
                <div class="column">
                  <figure class="image is-48x48">
                    <img class="" src="https://www.gstatic.com/images/icons/material/product/1x/sheets_64dp.png" alt="Google Sheet" />
                  </figure>
                </div>
                <div class="column">
                  <figure class="image is-48x48">
                    <img class="" src="https://www.gstatic.com/images/branding/product/1x/slides_64dp.png" alt="Google Sheet" />
                  </figure>
                </div>
              </div>
              <p>
                TODO: move to partials & nav APPS dropdown
                1, Use <strong>Google Tasks</strong> as example. Read the instructions and click the blue button on
                <a href="https://developers.google.com/tasks/quickstart/ruby" target="_blank">
                  Enable Google Tasks API
                </a>
                page, download the credentials.json file.
              </p>
              <br />
              <p>
                2, Copy and paste everything from the downloaded credentials.json in
                the text area below, then click "Get authorization URL" button.
              </p>
              <%= form_with scope: :google_tasks_auth,
                            url: google_tasks_generate_url_path do |f| %>
                <div class="field">
                  <div class="control">
                    <%= f.text_area :credentials,
                                    class: "textarea",
                                    placeholder: "Copy and paste everything from the downloaded credentials.json here",
                                    data: { target: "home.credentials" } %>
                  </div>
                </div>
                <div class="field">
                  <p class="control">
                    <%= f.submit "Get authorization URL",
                                 class: "button is-info is-rounded is-fullwidth",
                                 data: { disable_with: "Loading ...",
                                         action: "home#urlFormSubmit" } %>
                  </p>
                </div>
              <% end %>
              <br />
              <p>
                3, Open the generated Link below, choose a Google account and allow
                access, copy and paste the resulting code in the text field below, then
                click the "Authorize" button:
              </p>
              <p id="auth-link">
                Link:
                <a class="has-background-warning" id="auth-url" target="_blank"></a>
              </p>
              <br />
              <%= form_with scope: :google_tasks_auth,
                            url: google_tasks_authorize_path do |f| %>
                <%= f.text_field :credentials,
                                class: "is-hidden",
                                data: { target: "home.hiddenCredentials" } %>
                <%= text_field_content_for(form_object: f,
                                           left_icon_class: "fas fa-key") do |f| %>
                  <%= f.text_field :auth_code,
                                   class: "input",
                                   placeholder: "Copy and paste authorization code here",
                                   data: { target: "home.authCode" } %>
                <% end %>
                <div class="field">
                  <p class="control">
                    <%= f.submit "Authorize",
                                 class: "button is-primary is-rounded is-fullwidth",
                                 data: { disable_with: "Loading ...",
                                         action: "home#authFormSubmit" } %>
                  </p>
                </div>
              <% end %>
            </div>
          </article>
        <% end %>
      </div>
      <div class="column is-half">
        <article class="message is-dark">
          <div class="message-header">
            <p>More integrations...</p>
            <button class="delete" aria-label="delete"></button>
          </div>
          <div class="message-body">
          </div>
        </article>
      </div>
    </div>
  </div>
<% end %>
